{% extends "home_base.html" %}
{% block title %}
Delete Notes - {{ object.chapter_name }}
{% endblock %}
{% block facultycontent %}
        <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
  <div class="container mx-auto px-6 py-8">
    
    <div class="mt-4">
            <div class="p-6 bg-white rounded-md shadow-md">
            <h3 class="text-gray-700 text-3xl font-medium " style="padding-bottom:10px"> Create Notes</h3>
            {%if user.profile.isfaculty %}
                    <div class="container">
                                <form method="POST">
            {% csrf_token %}
                <h2>Are you sure you want to delete the post "{{ object.chapter_name }}"</h2>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="/dashboard">Cancel</a>
            </div>
        </form>
            <div>
        </div>
      </form>
    </div>
    {% else %}
    <div class="container">
      <h5>You can't add note only faculty can add</h5>
    </div>
    {% endif %} 
            </div>
    </div>
  </div>
</main>
{% endblock facultycontent %}