<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <meta name="author" content="David Grzyb">
    <meta name="description" content="">
    {% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

    <!-- Tailwind -->
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }
    </style>
</head>
<body class="bg-white font-family-karla h-screen">

    <div class="w-full flex flex-wrap">

        <!-- Login Section -->
        <div class="w-full md:w-1/2 flex flex-col">

            <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24">
                <a href="#" class="bg-black text-white font-bold text-xl p-4">Jits</a>
            </div>

            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                <p class="text-center text-3xl">Welcome.</p>
                <form class="flex flex-col pt-3 md:pt-8" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
      
                                
                  {% if form.errors %}
                      {% for field in form %}
                          {% for error in field.errors %}
                                <div class="text-red-500">
                                   <strong>{{ error|escape }}</strong>
                                </div>
                          {% endfor %}
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                              <div class="text-red-500">
                                   <strong>{{ error|escape }}</strong>
                              </div>
                      {% endfor %}
                  {% endif %}

                     <div class="flex flex-col pt-4" id="div_id_login">
                        <label for="id_login" class="text-lg  requiredField">Email</label>
                        <input type="text" name="login" id="id_login" required placeholder="User name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline textinput textInput form-control is-invalid">
                    </div>
    
                    <div class="flex flex-col pt-4" id="div_id_password">
                        <label for="id_password" class="text-lg requiredField">Password</label>
                        <input type="password" name="password" required id="id_password" placeholder="Password" class="textinput textInput form-control is-invalid shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    </div> 



                  {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                   <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br>



                    <input type="submit" value="{% trans "Sign In" %}" class=" primaryAction bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">
                </form>
                
                
                
                <div class="text-center pt-12 pb-12">
     

                    <p>Don't have an account? <a href="{{ signup_url }}" class="underline font-semibold">Register here.</a></p>
                </div>
            </div>

        </div>

        <!-- Image Section -->
        <div class="w-1/2 shadow-2xl">
            <img class="object-cover w-full h-screen hidden md:block" src="https://source.unsplash.com/IXUM4cJynP0">
        </div>
    </div>

</body>
</html>