{% extends "home_base.html" %}
{% load i18n %}
{% block content %}
        <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
  <div class="container mx-auto px-6 py-8">
    
    <div class="mt-4">
            <div class="p-6 bg-white rounded-md shadow-md">
            <h3 class="text-gray-700 text-3xl font-medium " style="padding-bottom:10px"> Sign Out</h3>
             <p>{% trans 'Are you sure you want to sign out?' %}</p>

            <form method="post" action="{% url 'account_logout' %}" >
                  {% csrf_token %}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                  {% endif %}
                      <button type="submit" class="btn btn-primary">{% trans 'Sign Out' %}</button>
            </form>
        </div>
      </form>
    </div>
    </div>
  </div>
</main>
{% endblock  %}


{% comment %} {% extends "home_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}
<div class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
  <div class="container mx-auto px-6 py-8">
    <div class="mt-4">
            <div class="p-6 bg-white rounded-md shadow-md">
            <h3 class="text-gray-700 text-3xl font-medium " style="padding-bottom:10px"> Create Notes</h3>
                    {% block content %}
      
          <p>{% trans 'Are you sure you want to sign out?' %}</p>

            <form method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                  {% endif %}
                      <button type="submit" class="btn btn-primary">{% trans 'Sign Out.' %}</button>
            </form>
        {% endblock %} 
            </div>
    </div>
  </div>
  </div> {% endcomment %}
 

